<h3>Gestion des utilisateurs</h3>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div *ngIf="success" class="alert alert-success">{{ success }}</div>

<div *ngIf="users" class="max-height-table">
  <h4>Utilisateurs</h4>
  <table class="table table-hover max-height-table">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Identifiant</th>
      <th>E-mail</th>
      <th colspan="2">Action</th>
    </tr>

    <tr *ngFor="let user of users" >
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.mail}}</td>
      <td><a class="btn btn-danger" (click)="onClickAction('delete', user._id)">Supprimer</a></td>
      <td><a class="btn btn-success" (click)="onClickAction('pictures', user.username)">Voir images</a></td>
    </tr>
  </table>
</div>



